@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

:root {
  --main-color: #d42249;
  --accent-color: #ffccf9;
  --secondary-color: #6a0572;
  --light-color: #fff4f9;
  --dark-pink: #b81d3d;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--light-color);
  color: var(--secondary-color);
}

.register-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background: linear-gradient(90deg, #e70a3a8f 20%, rgba(255,255,255,0) 78%, rgba(209, 11, 54, 0.564) 100%);
}

.navbar-brand {
  color: #ffffff !important;
  font-weight: bold;
}

.nav-link {
  color: black !important;
}

img {
  border-radius: 25px;
}

.form-control {
  background-color: #fff4f78f;
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
}

h1 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 25px;
}

.container {
  max-width: 1200px;
  flex: 1;
}

.form-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group label {
  color: var(--secondary-color);
}

.btn-main {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 10px 25px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-main:hover {
  background-color: var(--dark-pink);
  transform: scale(1.03);
}

.nav-link-custom {
  position: relative;
  font-weight: 600;
  color: var(--secondary-color) !important;
  transition: color 0.3s ease;
}

.nav-link-custom::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  transition: width 0.3s ease;
}

.nav-link-custom:hover {
  color: var(--main-color) !important;
}

.nav-link-custom:hover::after {
  width: 100%;
}

.nav-link-custom.active {
  color: var(--main-color) !important;
  font-weight: 700;
}

footer {
  background: linear-gradient(90deg, #e70a3a8f 28%, rgba(255,255,255,0) 48%, rgba(209, 11, 54, 0.564) 90%);
  height: 60px;
  width: 100%;
  margin-top: auto;
}